body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h3 {
    text-align: center;
}

form {
    text-align: center;
}

input {
    width: 80%;
    padding: 1%;
    margin: 1%;
}

.submit {
    width: 50%;
    background-color: #008CBA;
    border: none;
    color: white;
    font-size: 1em;
    padding: 0.5em;
    border-radius: 6px;
}

.submit:hover {
    background-color: #0576BA;
    cursor: pointer;
}

.add {
    width: 40%;
    margin: 4%;
    background-color: #008CBA;
    border: none;
    color: white;
    font-size: 1em;
    padding: 0.5em;
    border-radius: 6px;
}

.add:hover {
    background-color: #0576BA;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
