h1, h2 {
    text-align: center;
}

table {
    width: 100%;
}

td {
    font-size: 2.2em;
    text-align: center;
    width: 30%;

}

hr {
    border-top: 1px solid rgba(0,0,0,0.1)
}

ul.list {
    width: 80%;
    margin: auto;
    padding: 2% 0;
    list-style-type: none;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

.credit_list { background-color: #f0f0f5; }
.debt_list { background-color: #ffd4d4; }

b {
    font-weight: normal;
    font-size: .75em;
}

button.edit {
    background-color: #008CBA;
    border: none;
    color: white;
    font-size: 0.5em;
    padding: 0.5em;
    border-radius: 6px;
    cursor: not-allowed;
}

button.edit:hover {
    background-color: #0576BA;
    //cursor: pointer;
}

#addWrapper {
    text-align: center;
}

.add {
    background-color: #008CBA;
    border: none;
    margin: 0 2%;
    color: white;
    font-size: 1em;
    padding: 1em;
    border-radius: 6px;
}

.add:hover {
    background-color: #0576BA;
    cursor: pointer;
}

form {
    text-align: center;
}

input {
    width: 80%;
    padding: 1%;
    margin: 1%;
}

.submit {
    width: 50%;
    background-color: #008CBA;
    border: none;
    color: white;
    font-size: 1em;
    padding: 0.5em;
    border-radius: 6px;
}

.submit:hover {
    background-color: #0576BA;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}