body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.navbar {
    float: left;
}

li.navbar.right {
    float: right;
}

li.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.navbar a:hover {
    cursor: pointer;
}

li.navbar a:hover:not(.active) {
    background-color: #111;
}

li.navbar a.active {
    background-color: #4CAF50;
}

#loginMessage {
    color: white;
}

#loginMessage :hover {
    background-color: #333;
    cursor: auto;
}

.flashes {
    padding: 1.2%;
    background-color: #befbbf;
}

.logoutModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.logoutModal-content {
    text-align: center;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

a.logoutModalButton {
    text-decoration: none;
    width: 40%;
    margin: 4%;
    border: none;
    color: white;
    font-size: 1em;
    padding: 0.5em;
    border-radius: 6px;
}

a.logoutModalButton:hover {
    cursor: pointer;
}

#logoutCancel {
    background-color: #FF8990;
}

#logoutCancel:hover {
    background-color: #ff5260;
}

#logoutConfirm {
    background-color: #008CBA;
}

#logoutConfirm:hover {
    background-color: #0576BA;
}