img {
    max-width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form {
    padding-top: 1%;
    text-align: center;
}

fieldset {
    margin: auto;
    width: 40%;
}

input {
    width: 85%;
    padding: 1%;
    margin: 1% auto;
    display: block;
}

button {
    width: 35%;
    background-color: #008CBA;
    border: none;
    color: white;
    font-size: 1em;
    padding: 0.5em;
    border-radius: 6px;
}

button:hover {
    background-color: #0576BA;
    cursor: pointer;
}

#alert {
    padding: 1.2%;
    background-color: #fb978d;
}