<!DOCTYPE html>
<html lang="en-CA">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }} - Loan Shark</title>
    {% else %}
    <title>Welcome to Loan Shark</title>
    {% endif %}
    <link rel="icon" href="{{ url_for('static', filename='sharkfin.png')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename=style) }}"/>

    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}"/>
    <script src="{{ url_for('static', filename='base.js') }}"></script>
    {% block head %}{% endblock %}
</head>

<body>
<ul class="navbar">
    <li class="navbar"><a {% if title== 'Main' %} class="active"
        {% else %} href="/" {% endif %}>Home</a></li>

    {% if 'username' in session %}
    <li class="navbar"><a {% if title== 'Transactions' %} class="active"
        {% else %} href="/transactions"{% endif %}>Transactions</a></li>
    <li class="navbar right"><a id="logoutButton" onclick="logoutButton();">Logout</a></li>
    <li class="navbar right"><a{% if title=='Settings' %} class="active"
        {% else %} href="/settings" {% endif %}>Settings</a></li>
    <li class="navbar right" id="loginMessage"><a>Logged in as {{ session['username'] }}</a></li>
    {% else %}

    <li class="navbar right"><a {% if title== 'Login' %} class="active"
        {% else %} href="/login" {% endif %}>Login</a></li>
    {% endif %}
</ul>
<div id="logoutModal" class="logoutModal">
    <div class="logoutModal-content">
        <h3>Are you sure?</h3>
        <a id="logoutCancel" class="logoutModalButton" onclick="cancel();">Cancel</a>
        <a id="logoutConfirm" class="logoutModalButton" href="/logout">Logout</a>
    </div>
</div>
{% block content %}{% endblock %}
</body>
</html>