{% extends "base.html" %}
{% set title='Login' %}
{% set style='login.css' %}
{% block head %}
<script src="{{ url_for('static', filename='login.js') }}"></script>{% endblock %}
{% block content %}
<img src="../static/loanshark.png" alt="Loan Shark"/>

<form role="form" onsubmit="authenticate(); return false;">
    <input type="text" placeholder="Username" id="username" required/>
    <input type="password" placeholder="Password" id="password" required/>
    <button type="submit" id="submit">Sign in</button>
</form>
<div class="create">New to Loan Shark? <a class="acc" href="/create">Create an account</a></div>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<p class="flashes">{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}
{% endblock %}