{% set uid=1 %}

<!DOCTYPE html>
<html lang="en-CA">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }} - Loan Shark</title>
    {% else %}
    <title>Welcome to Loan Shark</title>
    {% endif %}
    <link rel="icon" href="{{ url_for('static', filename='sharkfin.png')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename=style) }}"/>
    {% block head %}{% endblock %}

    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}"/>
    <script src="{{ url_for('static', filename='base.js') }}"></script>
</head>

<body>
<ul class="navbar">
    <li class="navbar"><a {% if title== 'Main' %} class="active" {% endif %} href="/">Home</a></li>

    {% if 'username' in session %}
    <li class="navbar"><a {% if title== 'Transactions' %} class="active" {% endif %} href="/data/{{ uid
        }}">Transactions</a></li>
    <li class="navbar right"><a href="/logout">Logout</a></li>
    <li class="navbar right"><a{% if title=='Account' %} class="active" {% endif %} href="/account">Account</a></li>
    <li class="navbar right" id="loginmessage"><a>Logged in as {{ session['username'] }}</a></li>
    {% else %}
    <li class="navbar right"><a {% if title== 'Login' %} class="active" {% endif %} href="/login">Login</a></li>
    {% endif %}
</ul>
{% block content %}{% endblock %}
</body>
</html>