{% extends "base.html" %}
{% set title='Create' %}
{% set style='create.css' %}
{% block head %}
<script src="{{ url_for('static', filename='create.js') }}"></script>
{% endblock %}
{% block content %}
<img src="../static/loanshark.png" alt="Loan Shark"/>

<form role="create" onsubmit="addUser(); return false;">
    <input type="username" placeholder="Username" id="username" required/>
    <input type="password" placeholder="Password" id="password" required/>
    <input type="firstname" placeholder="First Name" id="firstname" required/>
    <input type="lastname" placeholder="Last Name" id="lastname" required/>
    <button type="submit" id="submit">Create Account</button>
</form>
{% endblock %}