{% extends "base.html" %}
{% set title='Create' %}
{% set style='create.css' %}
{% block head %}
<script src="{{ url_for('static', filename='create.js') }}"></script>
{% endblock %}
{% block content %}
<img src="../static/loanshark.png" alt="Loan Shark"/>

<form role="form" onsubmit="addUser(); return false;">
    <fieldset>
        <legend>Create Loan Shark Account:</legend>
        <input type="text" placeholder="Username" id="username" required/>
        <input type="password" placeholder="Password" id="password" required/>
        <input type="password" placeholder="Re-enter Password" id="confirm" required/>
        <input type="text" placeholder="First Name" id="firstname" required/>
        <input type="text" placeholder="Last Name" id="lastname" required/>
        <button type="submit" id="submit">Create Account</button>
    </fieldset>
</form>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<p class="flashes">{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}
{% endblock %}