<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Login - Loan Shark</title>
  <link rel="stylesheet" href="../static/login.css"/>
</head>
<body>
<img src="../static/loanshark.png" alt="Loan Shark"/>
<form role="login" action="/login" method="POST">
  <input type="email" placeholder="Email" name="email" required/>
  <input type="password" placeholder="Password" name="password" required/>
  <button type="submit" name="submit">Sign in</button>
</form>
<div class="create">New to Loan Shark? <a href="create.html">Create an account</a></div>
</body>
</html>