{% extends "base.html" %}
{% set title='Login' %}
{% set style='login.css' %}
{% block head %}
<script src="{{ url_for('static', filename='login.js') }}"></script>{% endblock %}
{% block content %}
<img src="../static/loanshark.png" alt="Loan Shark" />

<form role="login" onsubmit="authenticate(); return false">
  <input type="username" placeholder="Username" id="username" required/>
  <input type="password" placeholder="Password" id="password" required/>
  <button type="submit" name="submit">Sign in</button>
</form>
<div class="create">New to Loan Shark? <a class="acc" href="">Create an account</a></div>
<p id="login"></p>
{% endblock %}