{% extends "base.html" %}
{% set title='Main' %}
{% set style='main.css' %}
{% block head %}
<script src="{{ url_for('static', filename='main.js')}}"></script>{% endblock %}
{% block content %}
<h1>Loan Shark</h1>
<button type="button" id="addUserButton" class="add">Add User</button>
<div id="addUserModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h3>Adding User</h3>
    <form action="/addUser" method="POST">
      <input type="text" placeholder="First Name" name="first_name" required/>
      <input type="text" placeholder="Last Name" name="last_name" required/>
      <button type="submit" class="submit">Confirm</button>
    </form>
  </div>
</div>

<button type="button" id="addLoanButton" class="add">Add Loan</button>
<div id="addLoanModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h3>Adding Loan</h3>
    <form action="/addLoan" method="POST">
      <input type="text" placeholder="To" name="owner" required>
      <input type="text" placeholder="From" name="sender" required>
      <input type="text" placeholder="Amount" name="cost" required>
      <input type="text" placeholder="Description" name="description">
      <button type="submit" class="submit">Confirm</button>
    </form>
  </div>
</div>
{% endblock %}