<!DOCTYPE html>
<html lang="en-CA" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
  /*              Insert Custom CSS Here          */

  .data_table {
    background-color: #f0f0f5;
    width: 80%;
  }

  .data_block {}
</style>

<head>
  <meta charset="UTF-8" />
  <title>Loan Shark</title>
  <link rel="icon" type="image/png" href="static/sharkfin.png">
  <meta name="viewport" content="width=device-width, initial-scale=1" />


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>


<body>


  <center>
    <h1 id="title">Loan Shark</h1>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-4">
          <h3>Current Transactions: </h3>
        </div>
        <div class="col-4">
          <div class="container">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addUser">
              Add User
            </button>

            <div class="modal fade" id="addUser">
              <div class="modal-dialog">
                <div class="modal-content">

                  <div classs="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"> Adding User: </h4>
                  </div>

                  <div class="modal-body">
                    <!-- Creates the inputs for Loan (See Balsamiq) -->
                    <form method="POST">
                      <div class="row">
                        <div class="col-12">
                          <div class="form-group">
                            <label for="first_name"></label>
                            <input type="text" class="form-control" id="first_name" placeholder="First Name" name="first_name">
                          </div>
                          <div class="form-group">
                            <label for="last_name"></label>
                            <input type="text" class="form-control" id="last_name" placeholder="Last Name" name="last_name">
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-12">
                          <!-- Put a data-dismiss="modal" to dismiss -->
                          <button type="submit" class="btn btn-primary" id="user-confirm">Confirm</button>
                        </div>
                      </div>
                    </form>

                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                      Close
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2"></div>
        <div class="col-2">
          <div class="container">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newLoan">
              New Loan
            </button>

            <div class="modal fade" id="newLoan">
              <div class="modal-dialog">
                <div class="modal-content">

                  <div classs="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"> Creating New Loan: </h4>
                  </div>

                  <div class="modal-body">
                    <!-- Creates the inputs for Loan (See Balsamiq) -->
                    <div class="row">
                      <div class="col-8">
                        <div class="form-group">
                          <input type="text" class="form-control" id="recip" placeholder="Recipient">
                        </div>
                        <div class="form-group">
                          <input type="text" class="form-control" id="input" placeholder="Input">
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-group">
                          <label for="currency">Select Currency</label>
                          <select class="form-control">
                            <option>CAD</option>
                            <option>USD</option>
                            <option>EUR</option>
                            <option>GBP</option>
                          </select>
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                          Close
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div id="transactions" class="container data_table">

    </div>

  </center>

  <div class="alert alert-success" id="success-alert" {% if not userAddSuccess %} style="visibility: hidden;" {% endif %}>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Success!</strong> User added to database.
  </div>

  <script>
    $("#success-alert").fadeTo(2000, 500).slideUp(500, function() {
      $("#success-alert").slideUp(500);
    });
  </script>

  <script type="text/javascript" src="../static/main.js"></script>
</body>

</html>
